<div id="footer">
  <div class="footer">
    <div class="footer-left">
      <p>© 2020 KB</p>
    </div>
    <div class="footer-middle">
      <%=link_to '#' do %>
        <i class="fa fa-instagram"  ></i>
      <%end%>
      <%=link_to '#' do %>
        <i class="fa fa-cut"  ></i>
      <%end%>
      <%=link_to '#' do %>
        <i class="fa fa-facebook-f"  ></i>
      <%end%>
    </div>
  </div>
</div>