<div id="footer">
  <div class="footer">
    <div class="footer-left">
      <p>© 2020 KB</p>
    </div>
    <div class="footer-middle">
      <%=link_to 'https://www.instagram.com/wg97__4kblife/' do %>
        <i class="fa fa-instagram"  ></i>
      <%end%>
      <%=link_to 'https://www.instagram.com/chillchair_shibuya/' do %>
        <i class="fa fa-cut"  ></i>
      <%end%>
      <%=link_to admins_path do %>
        <i class="fa fa-lock"  ></i>
      <%end%>
    </div>
  </div>
</div>