<div  id="header" >
    <div class="header" > 
      <div class="header-left">
        <h1 >Shintchainz</h1>
      </div>
      <ul class="header-right">
        <li>>Me</li>
        <li>>Me</li>
        <li>>Me</li>
        <!-- <li><router-link to="/Bio">Contact</router-link></li> -->
      </ul>
      <%# <div class="bar-show" @click="togglehNav()">$</div>
          <ul v-show="isTouched" class="nav-show">
            <li @click="removeNav()"><router-link to="/Bio">Me</router-link></li>
            <li @click="removeNav()"><router-link to="/Photo">Photo</router-link></li>
            <li @click="removeNav()"><router-link to="/Architecture">Architecture</router-link></li>
          </ul> %>
    </div>
  </div>