<div  id="header" >
  <div class="header" > 
    <div class="header-left">
      <h1><%=link_to 'KB',root_path%></h1>
    </div>
    <ul class="header-right">
      <li><%=link_to 'me',profiles_path %></li>
      <li><%=link_to 'barber',barber_index_path %></li>
      <li><%=link_to 'art',art_index_path %></li>
      <li>Shop</li>
    </ul>
  </div>
</div>