<div id="confirm">
  <div class="container">
    <div class="confirm-header">
      <p>ご注文内容の確認</p>
    </div>
    <div class="confirm-box">
      <div class="confirm-box-order">
        <div class="confirm-box-order-detail">
          <div class="confirm-box-order-detail-address">
            <div class="confirm-box-order-detail-address-left">         
              ご住所
            </div>
            <div class="confirm-box-order-detail-address-right">
              
            </div>
          </div>
          <div class="confirm-box-order-detail-name">
            <div class="confirm-box-order-detail-name-left">
              お名前
            </div>
            <div class="confirm-box-order-detail-right">
          
            </div>  
          </div>
          <div class="confirm-box-order-detail-phone">
            <div class="confirm-box-order-detail-phone-left">
              電話番号
            </div>
            <div class="confirm-box-order-detail-phone-right">
          
            </div>
          </div>
          <div class="confirm-box-order-detail-email">
            <div class="confirm-box-order-detail-email-left">
              メールアドレス
            </div>
            <div class="confirm-box-order-detail-email-right">
          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

 