<div id="cart">
  <div class="container">
    <div class="cart-header">
      <h2>Cart</h2>
    </div>
    <div class="cart-box">
      <div class="cart-box-left">
        <ul class="cart-box-left-list">
          <%@cart_items.each do |cart_item| %>
            <li class="cart-box-left-list-detail">
              <div class="cart-box-left-list-detail-left">
                <div class="cart-box-left-list-detail-left-image">
                  <%= image_tag cart_item.item.images[0] %>
                </div>
              </div>
              <div class="cart-box-left-list-detail-right">
                <p class="cart-box-left-list-detail-right-name">
                  <%=cart_item.item.name%>
                </p>
                <p class="cart-box-left-list-detail-right-price">
                  <%=cart_item.item.price%>
                </p>
              </div>
            </li>
          <%end%>
        </ul>
      </div>
      <div class="cart-box-right">
        <div class="cart-box-right-conrirm">
          購入へ進む
        </div>
      </div>
    </div>
  </div>
</div>