<div id="create-item">
  <div class="container">
    <div class="create-item-header">
      <h2>Create Item</h2>
    </div>
    <%= render partial: "form", locals: { item: @item }%>
    
  </div>
</div>

 