<div id="create-item">
  <div class="container">
    <div class="create-item-header">
      <h2>Create Item</h2>
    </div>
    <div class="create-item-form">
      <%= form_with model: @item , local: true do |f| %>
        <div class="create-item-form-image">
          <div class="create-item-form-image-preview">
          </div>
          <div class="create-item-form-image-chose">
            <%= f.file_field :image %>
          </div>
        </div>
        <div class="create-item-form-name">
          <%= f.text_field :name %>
        </div>
        <div class="create-item-form-detail">
          <%= f.text_area :detail %>
        </div>
        <div class="create-item-form-price">
          <%= f.text_field :price %>
        </div>

      <% end %>
    </div>
  </div>
</div>