<div id="item-detail">
  <div class="container">
    <div class="item-detail-header">
      <h2>Item Detail</h2>
    </div>
    <div class="item-detail-box">
      <div class="item-detail-box-left">
        <% @item.images.each do |image|%>
          <div class="item-detail-box-left-image">
            <%= image_tag image %>
          </div>
        <%end%>
      </div>
      <div class="item-detail-box-right">
        <p class="item-detail-box-right-name">
          <%=@item.name%>
        </p>
        <p class="item-detail-box-right-price">
          ¥<%=@item.price%>円
        </p>
        <div class="item-detail-box-right-cart">
          カートに入れる
        </div>
        <div class="item-detail-box-right-detail">
          <%=@item.detail%>
        </div>
      </div>

    </div>
  </div>
</div>

 