@import "reset";
@import "responsive";
@import "admin";
@import "index";
@import "header";
@import "footer";
@import "home";
@import "profile";
@import "barber";
@import "art";
@import "items";
@import "carts";
@import "orders";
@import "error";
@import "parts";
@import 'font-awesome';