#photo{
  padding-top: 80px;
}
.photo-header{
margin-bottom:30px;
}
.photo-main{
padding-bottom:60px;
 display:grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-auto-rows: 200px;
 column-gap: 5px;
 row-gap: 5px;
}
.photo-box{
transition:1s;
}

.photo-box:hover{
box-shadow: 5px 5px 5px 10px rgba(0,0,0,0.2);
}


.photo-box{
  display:inline;
}
.photo-box img{
width:100%;
height:100%;
object-fit: cover;
}



@media screen and (max-width:650px) { 

 #photo .photo-main{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 130px;
    column-gap: 5px;
    row-gap: 5px;;
   }


}