#cart{
  padding-top: 80px;
  height: calc(100vh - 60px);
  overflow: scroll;
 }
 
 .cart-header{
   margin-bottom:30px;
   
 }
 .cart-box{
   width:100%;
   display: flex;
   justify-content: space-between;
   &-left{
     width:60%;
     &-list{
       &-detail{
         width:100%;
         height:200px;
         display: flex;
         align-items:center;
         border-bottom: 1px solid #d5d5d5;
         &-left{
           width:30%;
           height:80%;
           margin-right:10%;
          &-image{
            width:100%;
            height:100%;
            img{
              width:100%;
              height:100%;
              object-fit: cover;
            }
          }
         }
         &-right{
          width:60%;
          height: 80%;
          position: relative;
          &-name{
            font-size:1.6rem;
            font-weight: bold;
            margin-bottom:20px;
          }
          &-delete{
            position: absolute;
            bottom:0;
            right:0;
            

          }
         }
       }
     }
   }
   &-right{
     width:40%;
     text-align:center;
     &-confirm{
       width:100%;
       height:36px;
       background:black;
       line-height:36px;
       a{
        color:white;
      }

       
     }
   }
   &-nothing{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align:center;
     &-desc{
       font-size:3rem;
       font-weight: bold;
       margin-bottom:30px;
     }
     &-link{
       font-size:1.6rem
     }
   }
 }








 @media screen and (max-width:650px) { 
  .cart-box{
    width:100%;
    display: block;
    justify-content: space-between;
    &-left{
      width:100%;
      margin-bottom:50px;
      &-list{
        &-detail{
          width:100%;
          height:200px;
          display: flex;
          align-items:center;
          border-bottom: 1px solid #d5d5d5;
          &-left{
            width:30%;
            height:80%;
            margin-right:10%;
           &-image{
             width:100%;
             height:100%;
             img{
               width:100%;
               height:100%;
               object-fit: cover;
             }
           }
          }
          &-right{
           width:60%;
           height: 80%;
           position: relative;
           &-name{
             font-size:1.6rem;
             font-weight: bold;
             margin-bottom:20px;
           }
           &-delete{
             position: absolute;
             bottom:0;
             right:0;
             
 
           }
          }
        }
      }
    }
    &-right{
      width:100%;
      text-align:center;
      &-confirm{
        width:100%;
        height:36px;
        background:black;
        line-height:36px;
        a{
         color:white;
       }
 
        
      }
    }
    &-nothing{
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translateY(-50%) translateX(-50%);
     text-align:center;
      &-desc{
        font-size:3rem;
        font-weight: bold;
        margin-bottom:30px;
      }
      &-link{
        font-size:1.6rem
      }
    }
  }
  


 }
