#header{
  /* border-bottom:1px solid #E8E8E8; */
  width:100%;
  position:fixed;
  background:white;
  z-index:11;
  top:0;
}
.header{
  width:90%;
  max-width:970px;
  height:80px;
  line-height:80px;
  margin:0 auto;
  justify-content:space-between;
  display:flex;
  letter-spacing: 1.4px;
  font-size:1.6rem;
}
.header-left{
font-size:2rem;
}

.header-right{
  display:flex;
}
.header-right li{
  margin-left:40px;
}
.header-right a{
  padding:10px;
}

.bar-show,.nav-show{
  display:none;
}