#items{
  padding-top: 80px;
  /* height: calc(100vh - 80px - 60px);
  overflow:scroll; */
 }
 
 .items-header{
   margin-bottom:30px;
 }

 .items-list{
   width:100%;
   display: flex;
   justify-content: space-between;
   flex-wrap:wrap;
   .item-box{
     width:30%;
     margin-bottom:30px;
     &-pic{
       width:100%;
       margin-bottom:20px;
       img{
         width:100%;
         height:auto;
         object-fit: cover;
       }
     }
     &-name{
       font-size:1.2rem;
       margin-bottom:10px;
     }
     &-price{
      font-size:1.2rem;
     }
   }
 }
 


 //商品出品
 #create-item{
  padding-top: 80px;
  /* height: calc(100vh - 80px - 60px);
  overflow:scroll; */
 }
 
 .create-item-header{
   margin-bottom:30px;
   text-align:center
 }

 .create-item-form{
   width:60%;
   margin:0 auto;
   padding-top:50px;
   padding-bottom:30px;
   background-color: rgba(var(--b3f,250,250,250),1);
   text-align:center;
    &-image{
      margin-bottom:20px;
      padding-bottom:20px;
      // border-bottom:1px solid  rgba(var(--f52,142,142,142),1);
    &-preview{
      width:300px;
      height:100px;
      margin:0 auto;
      margin-bottom:30px;
      display: flex;
      &-box{
        width:100px;
        .image-box{
          width:100px;
          height:100px;
          img{
            width:100%;
            height:100%;
            object-fit: cover;
          }
        }     
      }
      
    }
    &-title{
      font-size:1.8rem;
      margin-bottom:20px;
    }
    &-chose{
    }
    }
    &-name{
      margin-bottom:20px;
      padding-bottom:20px;
      // border-bottom:1px solid  rgba(var(--f52,142,142,142),1);
      &-title{
        font-size:1.8rem;
        margin-bottom:20px;
      }
      &-field{
        height:30px;
        width:200px;
        border:1px solid  rgba(var(--f52,142,142,142),1);
      }
    }
    &-detail{
      margin-bottom:20px;
      padding-bottom:20px;
      // border-bottom:1px solid  rgba(var(--f52,142,142,142),1);
      &-title{
        font-size:1.8rem;
        margin-bottom:20px;
      }
      &-field{
        height:50px;
        width:200px;
        border:1px solid  rgba(var(--f52,142,142,142),1);
      }
    }
    &-price{
      margin-bottom:20px;
      padding-bottom:20px;
      // border-bottom:1px solid  rgba(var(--f52,142,142,142),1);;
      &-title{
        font-size:1.8rem;
        margin-bottom:20px;
      }
      &-field{
        height:30px;
        width:200px;
        border:1px solid  rgba(var(--f52,142,142,142),1);
      }
    }
  .sell-btn{
    height:30px;
    width:200px;
    border:1px solid  rgba(var(--f52,142,142,142),1);
    background:white;
    border-radius: 10px;;
  }
}


//商品詳細

#item-detail{
  padding-top: 80px;
  /* height: calc(100vh - 80px - 60px);
  overflow:scroll; */
 }
 
 .item-detail-header{
   margin-bottom:30px;
  
 }
 .item-detail-box{
   width:100%;
   display:flex;
   &-left{
     width:60%;
     margin-right:40px;
     &-image{
       width:100%;
       img{
         width:100%;
         height:auto;
         object-fit:cover;
       }
     }
   }
   &-right{
     width:40%;
     &-name{
       font-weight:bold;
       font-size:1.6rem;
       margin-bottom:10px;
     }
     &-price{
      margin-bottom:20px;
     }
     &-cart{
       width:100%;
       height:40px;
       padding:12px 0;
       color:white;
       background: black;
       margin-bottom:30px;
       text-align:center;
       vertical-align: middle;

     }
   }
 }