#items{
  padding-top: 80px;
  /* height: calc(100vh - 80px - 60px);
  overflow:scroll; */
 }
 
 .items-header{
   margin-bottom:30px;
 }

 .items-list{
   width:100%;
   display: flex;
   justify-content: space-between;
   flex-wrap:wrap;
   .item-box{
     width:30%;
     margin-bottom:30px;
     padding-bottom:20px;
     box-shadow: 0 0 8px gray;
     &-pic{
       width:100%;
       margin-bottom:20px;
       img{
         width:100%;
         height:200px;
         object-fit: cover;
       }
     }
     &-name{
       font-size:1.2rem;
       margin-bottom:10px;
     }
     &-price{
      font-size:1.2rem;
     }
   }
 }
 


 //商品出品
 #create-item{
  padding-top: 80px;
  /* height: calc(100vh - 80px - 60px);
  overflow:scroll; */
 }
 
 .create-item-header{
   margin-bottom:30px;
   text-align:center
 }

 .create-item-form{
   width:95%;
   max-width: 650px;
   margin:0 auto;
   padding-top:30px;
   padding-bottom:30px;
  //  background-color: rgba(var(--b3f,250,250,250),1);
   text-align:center;
    &-image{
      margin-bottom:20px;
      padding-bottom:20px;
      // border-bottom:1px solid  rgba(var(--f52,142,142,142),1);
      &-preview{
        // width:450px;
        width:80%;
        // height:150px;
        margin:0 auto;
        margin-bottom:40px;
        display: flex;
        &-box{
          width:33%;
          .image-box{
            width:100%;
            margin-bottom:10px;
            img{
              width:100%;
              max-width: 100%;
              height: 170px;;
              object-fit: cover;
            }
          }   
          &-option{
            width:40%;
            margin:0 auto;
            display: flex;
            justify-content: space-between;
          }  
        }
        
      }
      &-title{
        font-size:1.8rem;
        margin-bottom:20px;
      }
      &-chose{
      }
    }
    &-name{
      margin-bottom:20px;
      padding-bottom:20px;
      // border-bottom:1px solid  rgba(var(--f52,142,142,142),1);
      &-title{
        font-size:1.8rem;
        margin-bottom:20px;
      }
      &-field{
        height:30px;
        width:200px;
        border:1px solid  rgba(var(--f52,142,142,142),1);
      }
    }
    &-detail{
      margin-bottom:20px;
      padding-bottom:20px;
      // border-bottom:1px solid  rgba(var(--f52,142,142,142),1);
      &-title{
        font-size:1.8rem;
        margin-bottom:20px;
      }
      &-field{
        height:50px;
        width:200px;
        border:1px solid  rgba(var(--f52,142,142,142),1);
      }
    }
    &-price{
      margin-bottom:20px;
      padding-bottom:20px;
      // border-bottom:1px solid  rgba(var(--f52,142,142,142),1);;
      &-title{
        font-size:1.8rem;
        margin-bottom:20px;
      }
      &-field{
        height:30px;
        width:200px;
        border:1px solid  rgba(var(--f52,142,142,142),1);
      }
    }
  .sell-btn{
    height:30px;
    width:200px;
    border:1px solid  rgba(var(--f52,142,142,142),1);
    background:white;
    border-radius: 10px;
  }
}


// loader*****************************************
#overlay{
  width:100%;
  height:100vh;
  position:fixed;
  left:0;
  top:0;
  background: rgba(0, 0, 0, .8);   
  z-index:100;
  pointer-events: none;

  display: none;
  
  .loader{
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    img{
      width:120px;
    }
  }
}

#overlay.fadein-bg {
  pointer-events: none;
  display: block;
}





//商品詳細

#item-detail{
  padding-top: 80px;
  // height:calc(100vh - 80px);
  
  
  /* height: calc(100vh - 80px - 60px);
  overflow:scroll; */
 }
 
 .item-detail-header{
   margin-bottom:30px;
  
 }
 .item-detail-box{
   width:100%;
   display:flex;
  
   &-left{
     width:50%;
     margin-right:40px;
     overflow:scroll;
     &-image{
       width:100%;
       margin-bottom:20px;
       img{
         width:100%;
         height:auto;
         object-fit:cover;
       }
     }
   }
   &-right{
     width:40%;
     max-width:485px;
     position:fixed; //どこでも画面基準になる説
     z-index:10;
     right:5%;
     &-name{
       font-weight:bold;
       font-size:1.6rem;
       margin-bottom:10px;
     }
     &-price{
      margin-bottom:20px;
     }
     &-edit{
      width:100%;
      height:40px;
      padding:12px 0;
      color:white;
      background: black;
      margin-bottom:30px;
      text-align:center;
      vertical-align: middle;
      a{
        width:100%;
        height:100%;
        display: block;
        color:white;
      }
     }
     &-delete{
      width:100%;
      height:40px;
      padding:12px 0;
      color:white;
      background: tomato;
      margin-bottom:30px;
      text-align:center;
      vertical-align: middle;
     }
     &-cart{
       width:100%;
       height:40px;
       padding:12px 0;
       color:white;
       background: black;
       margin-bottom:30px;
       text-align:center;
       vertical-align: middle;
     }
     &-cart-in{
      width:100%;
      height:40px;
      padding:12px 0;
       background:#c8c8c8;
       opacity: .6;
       color:white;
       margin-bottom:30px;
       text-align:center;
       vertical-align: middle;
     }
     &-detail{
      white-space: pre-line;
     }
   }
 }










 @media screen and (max-width:650px) { 
  .items-list{
    .item-box{
      width:48%;
      &-pic{
        img{
          height:150px;
        }
      }
      &-name{
        font-size:1.2rem;
        margin-bottom:10px;
      }
      &-price{
       font-size:1.2rem;
      }
    }
  }

 

  .create-item-form-image-preview-box .image-box img{
    height: 100px;
  }
  .create-item-form-image-preview-box-option{
    display: block;
  }



  .item-detail-box{
    width:100%;
    display:block;
   
    &-left{
      width:100%;
      overflow:scroll;
      &-image{
        width:100%;
        margin-bottom:20px;
        img{
          width:100%;
          height:auto;
          object-fit:cover;
        }
      }
    }
    &-right{
      width:100%;
      position:static;
      max-width:1000px; //どこでも画面基準になる説
      
      &-name{
        font-weight:bold;
        font-size:1.6rem;
        margin-bottom:10px;
      }
      &-price{
       margin-bottom:20px;
      }
      &-cart{
        width:100%;
        height:40px;
        padding:12px 0;
        color:white;
        background: black;
        margin-bottom:30px;
        text-align:center;
        vertical-align: middle;
      }
      &-cart-in{
       width:100%;
       height:40px;
       padding:12px 0;
        background:#c8c8c8;
        opacity: .6;
        color:white;
        margin-bottom:30px;
        text-align:center;
        vertical-align: middle;
      }
      &-detail{
       white-space: pre-line;
      }
    }
  }



 }



 