//form*************************
#order{
  padding-top: 80px;
  /* height: calc(100vh - 80px - 60px);
  overflow:scroll; */
 }
 #order .container{
  width:80%;
  max-width: 650px;
  margin:0 auto;
  padding-top:30px;
 }
 
 .order-header{
  padding-bottom:20px;
  border-bottom: 1px solid #d5d5d5;
  p{
   
    font-weight:bold;
  }
}

.order-form{
   margin:0 auto;
   padding-top:30px;
   padding-bottom:30px;
   font-size:1.4rem;
   input{
    font-size:1.2rem;
    width:100%;
    height:100%;
    padding-left:10px;
   }
   &-name{
     width:100%;
     height:36px;
     margin-bottom:20px;
     display: flex;
     justify-content: space-between;
     &-left{
       width:48%;
     }
     &-right{
      width:48%;
    }
   }
   &-name-kana{
    width:100%;
    height:36px;
    margin-bottom:20px;
    display: flex;
    justify-content: space-between;
    &-left{
      height:100%;
      width:48%;
    }
    &-right{
     height:100%;
     width:48%;
    }
  
   }
   &-postal{
    width:100%;
    height:36px;
    margin-bottom:20px;
    &-box{
      height:100%;
    }
   }
   &-prefecture{
    width:100%;
    height:36px;
    margin-bottom:20px;
 
    &-box{
      height:100%;
      select{
        border: 1px solid #d5d5d5;
        font-size:1.2rem;
        width:100%;
        height:100%;
        padding-left:10px;
      }
    }
   }
   &-city{
    width:100%;
    height:36px;
    margin-bottom:20px;
    &-box{
      height:100%;
    }
   }
   &-addresses{
    width:100%;
    height:36px;
    margin-bottom:20px;
    &-box{
      height:100%;
    }
   }
   &-building{
    width:100%;
    height:36px;
    margin-bottom:20px;
    &-box{
      height:100%;
    }
   }
   &-phone{
    width:100%;
    height:36px;
    margin-bottom:20px;
    &-box{
      height:100%;
    }
   }
   &-email{
    width:100%;
    height:36px;
    margin-bottom:50px;
    &-box{
      height:100%;
      input{
        
      }
    }
   }
   &-next{
    width:100%;
    height:36px;
    margin-bottom:20px;
    &-box{
      height:100%;
      text-align:center;
      .next-btn{
        width:50%;
        height:36px;
        background:black;
        color:white;
        border:none
      }
    }
   }
  
 }


 ////購入確認************************


 #confirm{
  padding-top: 80px;
  /* height: calc(100vh - 80px - 60px);
  overflow:scroll; */
 }
 #confirm .container{
  width:80%;
  max-width: 650px;
  margin:0 auto;
  padding-top:30px;
 }
 
 .confirm-header{
  padding-bottom:10px;
  border-bottom: 1px solid #d5d5d5;
  p{
    font-weight:bold;
  }
}
.confirm-box{
 
  &-order{
    width:98%;
    padding-top:50px;
    margin-left:auto;
   
    &-detail{
      width:95%;
      max-width:450px;
      padding-top:10px;
      margin-left:auto;
      &-address{
        height:40px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #d5d5d5;
        &-left{
          // height:100%;
          width:40%
        }
        &-right{
          width:60%;
          // height:100%; hightつけると中央来ない
        }
      }
      &-name{
        height:40px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #d5d5d5;
        &-left{
          // height:100%;
          width:40%
        }
        &-right{
          width:60%;
          // height:100%; hightつけると中央来ない
        }
      }
      &-phone{
        height:40px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #d5d5d5;
        &-left{
          // height:100%;
          width:40%
        }
        &-right{
          width:60%;
          // height:100%; hightつけると中央来ない
        }
      }
      &-email{
        height:40px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #d5d5d5;
        &-left{
          // height:100%;
          width:40%
        }
        &-right{
          width:60%;
          // height:100%; hightつけると中央来ない
        }
      }
    }
  }
  &-order-item{
    width:98%;
    padding-top:50px;
    margin-left:auto;
    .cart-box-left-list{
      height:200px;
      overflow:scroll;
    }
  }
  &-pay-item{
    width:98%;
    padding-top:50px;
    margin-left:auto;
    &-form{
      width:95%;
      max-width:450px;
      padding-top:10px;
      margin-left:auto;
      &-amount{
        height:40px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #d5d5d5;
        &-left{
          // height:100%;
          width:40%
        }
        &-right{
          width:60%;
         
          input{
            width:100%;
            height: 25px;
          }
          // height:100%; hightつけると中央来ない
        }
      }
      &-number{
        height:40px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #d5d5d5;
        &-left{
          // height:100%;
          width:40%
        }
        &-right{
          width:60%;
         
          input{
            width:100%;
            height: 25px;
          }
          // height:100%; hightつけると中央来ない
        }
      }
      &-exp{
        height:40px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #d5d5d5;
        &-left{
          // height:100%;
          width:40%
        }
        &-right{
          width:60%;
          display: flex;
          align-items: center;
          select{
            height:25px;
            margin-right:5px;
          }
          p{
            margin-right:5px;
          }
          // height:100%; hightつけると中央来ない
        }
      }
      &-secure{
        height:40px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #d5d5d5;
        margin-bottom:60px;
        &-left{
          // height:100%;
          width:40%
        }
        &-right{
          width:60%;
          display: flex;
          input{
            width:40%;
            height:25px;
          }
          // height:100%; hightつけると中央来ない
        }
      }
      &-pay{
        margin-bottom:40px;
        text-align:center;

        .pay-btn{
          width:100%;
          height:36px;
          background:black;
          color:white;
          border:none
        }
      }
    }
  }
}




#modal-wrapper{
  width:100%;
  height:100vh;
  position:fixed;
  left:0;
  top:0;
  background: rgba(0, 0, 0, .8);   
  z-index:100;
  display: none;
  .modal{
    width:30%;
    padding-top:30px;
    padding-bottom:40px;
    text-align:center;
    border-radius: 2%;;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background:white;
   
    &-confirmation{
      margin-bottom:40px;
    }
    &-btn{
      width:80%;
      height:36px;
      margin:0 auto;
      a{
        width:100%;
        height:100%;
        line-height:36px;
        display: block;
        color:white;
        background:black;
      }
    }
  }
}


.header-p{
  padding-bottom:10px;
  border-bottom: 1px solid #d5d5d5;
}

.confirm-box-order-price{
  width:98%;
  padding-top:50px;
  margin-left:auto;
  span{
    margin-right:20px;
  }
}





//購入履歴*************************

#order-index{
  padding-top: 80px;
 
 }
 
 .order-index-header{
   margin-bottom:30px;
 }


 .order-index-box{
   &-info{
    height: calc(100vh - 132px);
    overflow: scroll;
     &-list{
       height:40px;
       width:90%;
       border-bottom: 1px solid #d5d5d5;
       &-link{
         width:100%;
         height:100%;
         display: flex;
         align-items: center;
         &-name{
          margin-right:20px;
         }
         &-address{
          margin-right:20px;
         }
         &-price{
            margin-right:20px;
         }
       }
     }
   }
 }