#order{
  padding-top: 80px;
  /* height: calc(100vh - 80px - 60px);
  overflow:scroll; */
 }
 #order .container{
  width:80%;
  max-width: 650px;
  margin:0 auto;
  padding-top:30px;
 }
 
 .order-header{
  padding-bottom:20px;
  border-bottom: 1px solid #d5d5d5;
  p{
   
    font-weight:bold;
  }
}

.order-form{
   margin:0 auto;
   padding-top:30px;
   padding-bottom:30px;
   font-size:1.4rem;
   input{
    font-size:1.2rem;
    width:100%;
    height:100%;
    padding-left:10px;
   }
   &-name{
     width:100%;
     height:36px;
     margin-bottom:20px;
     display: flex;
     justify-content: space-between;
     &-left{
       width:48%;
     }
     &-right{
      width:48%;
    }
   }
   &-name-kana{
    width:100%;
    height:36px;
    margin-bottom:20px;
    display: flex;
    justify-content: space-between;
    &-left{
      height:100%;
      width:48%;
    }
    &-right{
     height:100%;
     width:48%;
    }
  
   }
   &-postal{
    width:100%;
    height:36px;
    margin-bottom:20px;
    &-box{
      height:100%;
    }
   }
   &-prefecture{
    width:100%;
    height:36px;
    margin-bottom:20px;
 
    &-box{
      height:100%;
      input{
        border: 1px solid #d5d5d5;
      }
    }
   }
   &-city{
    width:100%;
    height:36px;
    margin-bottom:20px;
    &-box{
      height:100%;
    }
   }
   &-addresses{
    width:100%;
    height:36px;
    margin-bottom:20px;
    &-box{
      height:100%;
    }
   }
   &-building{
    width:100%;
    height:36px;
    margin-bottom:20px;
    &-box{
      height:100%;
    }
   }
   &-phone{
    width:100%;
    height:36px;
    margin-bottom:20px;
    &-box{
      height:100%;
    }
   }
   &-email{
    width:100%;
    height:36px;
    margin-bottom:20px;
    &-box{
      height:100%;
    }
   }
  
 }